{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-commonjs": "off",
    "no-unused-vars": "warn",
    "import/first": "warn",
    "jsx-quotes": "off"
  },
  "globals": {
    "definePageConfig": "writable",
  }
}
